<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bd.evaly.evalypaymentlibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name=".activity.PaymentWebActivity">

        </activity>
    </application>
</manifest>